<style>
	#tabs div.row:first-child {
		margin-top: 4px;
	}
	
	#tabs div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}
</style>

<div id="tabs">
	
	<div class="row">
		<div class="col s3">
			<label for="id">ID</label>
		</div>
		<div class="col s9">
			<input id="id" class="form-control" ng-model="tabs.id" data-template="tabs" type="text" disabled> 
		</div>
	</div>
	
	<div class="row">
		<div class="col s3">
			<label for="id">Tela</label>
		</div>
		<div class="col s9">
			<input id="tela" class="form-control" ng-model="tabs.tela" data-template="tabs" type="text" required> 
		</div>
	</div>
	
	<div class="row">
		<div class="col s3">
			<label for="id">Pai</label>
		</div>
		<div class="col s9">
			<input id="pai" class="form-control" ng-model="tabs.pai" data-template="tabs" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="ordem">Ordem</label>
		</div>
		<div class="col s9">
			<input id="ordem" class="form-control" ng-model="tabs.ordem" data-template="tabs" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tag">Tag</label>
		</div>
		<div class="col s9">
			<input id="tag" class="form-control" ng-model="tabs.tag" data-template="tabs" type="text" required>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<a ng-click="salvarTabs()" class="waves-effect waves-light blue-grey darken-4 btn right">
				<i class="material-icons">done</i></a>
		</div>
	</div>
</div>