<style>
	#tabela div.row:first-child {
		margin-top: 4px;
	}
	
	#tabela div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}
	
	#tabela .col > label {
		width: 100%;
	}

	#tabela .col > label > div {
		width: 90%;
		float: left;
	}
</style>

<div id="tabela">

	<div class="row">
		<div class="col s4">
			<label for="id">ID</label>
		</div>
		<div class="col s8">
			<input id="id" class="form-control" ng-model="tabela.id" data-template="tabela" type="text" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col s4">
			<label for="id">Tela</label>
		</div>
		<div class="col s8">
			<input id="tela" class="form-control" ng-model="tabela.tela" data-template="tabela" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s4">
			<label for="id">Pai</label>
		</div>
		<div class="col s8">
			<input id="pai" class="form-control" ng-model="tabela.pai" data-template="tabela" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s4">
			<label for="nome">Nome</label>
		</div>
		<div class="col s8">
			<input id="nome" class="form-control" ng-model="tabela.nome" data-template="tabela" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s4">
			<label for="ordem">Ordem</label>
		</div>
		<div class="col s8">
			<input id="ordem" class="form-control" ng-model="tabela.ordem" data-template="tabela" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s4">
			<label for="tag">Tag</label>
		</div>
		<div class="col s8">
			<input id="tag" class="form-control" ng-model="tabela.tag" data-template="tabela" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s4">
			<label for="consulta">Consulta</label>
		</div>
		<div class="col s8">
			<select-box class="play-none" id="consulta" data-id="teste" data-template="tabela" data-name-combo="consulta_id" data-combo-grava-campo="id"
				data-combo-tabela="consulta" data-combo-campo="consulta"> </select-box>
			<select-box id="consulta" data-id="tabela_consulta_id" data-template="tabela" data-name-combo="consulta_id" data-combo-grava-campo="id"
				data-combo-tabela="consulta" data-combo-campo="consulta"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s4">
			<label for="tamanho">Tamanho</label>
		</div>
		<div class="col s8">
			<input id="tamanho" class="form-control" ng-model="tabela.tamanho" data-template="tabela" type="text">
		</div>
	</div>

	<div class="col s12">
		<label>
			<div> MultiSelect </div>
			<input ng-model="tabela.tabela_multiselect" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="col s12">
		<label>
			<div> Paginacao </div>
			<input ng-model="tabela.tabela_paginate" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="col s12">
		<label title="DataTable - Filtro em todas as celulas do grid">
			<div> Pesquisa Rápida </div>
			<input ng-model="tabela.tabela_pesquisar" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="col s12">
		<label title="DataTable - 'Mostrando de 1 até 10 de 12 registros'">
			<div> Informação </div>
			<input ng-model="tabela.tabela_info" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="col s12">
		<label title="DataTable - 'Copiar a Tabela e colar em uma planilha'">
			<div> Botão Copiar </div>
			<input ng-model="tabela.tabela_botao_copiar" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="col s12">
		<label title="DataTable - 'Exportar para Excel'">
			<div> Botão Excel </div>
			<input ng-model="tabela.tabela_botao_excel" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="col s12">
		<label title="DataTable - 'Exportar pata PDF'">
			<div> Botão PDF </div>
			<input ng-model="tabela.tabela_botao_pdf" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="col s12">
		<label title="DataTable - 'Imprimir Tabela'">
			<div> Botão Imprimir </div> 
			<input ng-model="tabela.tabela_botao_imprimir" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="col s12">
		<label title="Filtro Personalizado da DYS'">
			<div> Filtro DYS </div>
			<input ng-model="tabela.tabela_botao_filtro" type="checkbox" data-template="tabela" style="margin-left: 15px; position: relative; top: 3px;">
		</label>
	</div>

	<div class="row">
		<div class="col s12">
			<a ng-click="salvarTabela()" class="waves-effect waves-light blue-grey darken-4 btn right">
				<i class="material-icons">done</i></a>
			<a ng-click="alterarTabela()" class="waves-effect waves-light blue-grey darken-4 btn right">
				<i class="material-icons">mode_edit</i></a>
		</div>
	</div>
</div>