<style>
	#selectbox div.row:first-child {
		margin-top: 4px;
	}
	
	#selectbox div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}
</style>

<div id="selectbox">

	<div class="row">
		<div class="col s3">
			<label for="id">ID</label>
		</div>
		<div class="col s9">
			<input id="id" class="form-control" ng-model="selectbox.id" data-template="selectbox" type="text" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="id">Tela</label>
		</div>
		<div class="col s9">
			<input id="tela" class="form-control" ng-model="selectbox.tela" data-template="selectbox" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="pai">Pai</label>
		</div>
		<div class="col s9">
			<input id="pai" class="form-control" ng-model="selectbox.pai" data-template="selectbox" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="ordem">Ordem</label>
		</div>
		<div class="col s9">
			<input id="ordem" class="form-control" ng-model="selectbox.ordem" data-template="selectbox" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tag">Tag</label>
		</div>
		<div class="col s9">
			<input id="tag" class="form-control" ng-model="selectbox.tag" data-template="selectbox" type="text" required>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12">
			<label> LISTAR </label>
		</div>
	</div>

	<div class="col s6" style="line-height: 22px;">
		<label>
				Tabela
				<input ng-model="tabela_ativo" data-template="selectbox" type="checkbox" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
	</div>

	<div class="col s6 right-align" style="line-height: 22px;">
		<label>
				Query
				<input ng-model="query_ativo" data-template="selectbox" type="checkbox" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
	</div>

	<div ng-show="tabela_ativo">

		<div class="row">
			<div class="col s3 line">
				<label for="combo_tabela">Tabela</label>
			</div>
			<div class="col s9">
				<select-box data-name-combo='combo_tabela' data-template="selectbox" data-id='selectbox_combo_tabela' data-combo-id-elemento="selectbox_combo_campo"
					data-combo-grava-campo="id" data-combo-tabela="tabela" data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
			</div>
		</div>

		<div class="row">
			<div class="col s3 line">
				<label for="combo_campo">Campo</label>
			</div>
			<div class="col s9">
				<select-box data-name-combo='combo_campo' data-template="selectbox" data-id='selectbox_combo_campo' data-combo-pai="selectbox_combo_tabela"
					data-combo-atributo="tabela_id" data-combo-tabela="campo" data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
			</div>
		</div>

		<div class="row">
			<div class="col s3 line">
				<label for="combo_grava_value">Value</label>
			</div>
			<div class="col s9">
				<input id="combo_grava_campo" class="form-control" data-template="selectbox" ng-model="selectbox.combo_grava_campo" type="text">
			</div>
		</div>

		<div class="row">
			<div class="col s3 line">
				<label for="combo_filtro">Filtro</label>
			</div>
			<div class="col s9">
				<input id="combo_filtro" class="form-control" data-template="selectbox" ng-model="selectbox.combo_filtro" type="text">
			</div>
		</div>

	</div>

	<div ng-show="query_ativo">
		<div class="row">
			<div class="col s3">
				<label for="combo_query">Query</label>
			</div>
			<div class="col s9">
				<input id="combo_query" class="form-control" data-template="selectbox" ng-model="selectbox.combo_query" type="text">
			</div>
		</div>

		<div class="row">
			<div class="col s3">
				<label for="combo_campo">Campo</label>
			</div>
			<div class="col s9">
				<input id="combo_campo" class="form-control" data-template="selectbox" ng-model="combo_campo" type="text">
			</div>
		</div>
		
		<div class="row">
			<div class="col s3">
				<label for="combo_grava_campo">Value</label>
			</div>
			<div class="col s9">
				<input id="combo_grava_campo" class="form-control" data-template="selectbox" ng-model="selectbox.combo_grava_campo" type="text">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<label>
				Atualiazar 
				<input ng-model="selectbox.combo_atualizar" type="checkbox" data-template="selectbox" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12">
			<label> LE </label>
		</div>
	</div>

	<div class="row">
		<div class="col s3 line">
			<label for="combo_tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='le_da_tabela' data-template="selectbox" data-id='selectbox_le_da_tabela' data-combo-id-elemento="selectbox_le_do_campo"
				data-combo-grava-campo="id" data-combo-tabela="tabela" data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3 line">
			<label for="combo_campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='le_do_campo' data-template="selectbox" data-id='selectbox_le_do_campo' data-combo-pai="selectbox_le_da_tabela"
				data-combo-atributo="tabela_id" data-combo-tabela="campo" data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12"> <label> <strong> Grava </strong> </label> </div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='grava_na_tabela' data-template="selectbox" data-id='selectbox_grava_na_tabela' data-combo-id-elemento="selectbox_grava_no_campo"
				data-combo-grava-campo="id" data-combo-tabela="tabela" data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='grava_no_campo' data-template="selectbox" data-id='selectbox_grava_no_campo' data-combo-pai="selectbox_grava_na_tabela"
				data-combo-atributo="tabela_id" data-combo-tabela="campo" data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<!--<div ng-show="selectbox.combo_atualizar">
		<div class="row">
			<div class="col s4 line">
				<label for="combo_id_elemento">Elemento</label>
			</div>
			<div class="col s8">
				<input id="combo_id_elemento" class="form-control" data-template="selectbox" ng-model="selectbox.combo_id_elemento" type="text">
			</div>
		</div>

		<div class="row">
			<div class="col s4 line">
				<label for="combo_campo_filho">Campo Filho</label>
			</div>
			<div class="col s8">
				<input id="combo_campo_filho" class="form-control" data-template="selectbox" ng-model="selectbox.combo_campo_filho" type="text">
			</div>
		</div>
	</div>-->

	<div class="row">
		<div class="col s12">
			<a ng-click="salvarSelectBox()" class="waves-effect waves-light blue-grey darken-4 btn right">
				<i class="material-icons">done</i></a>
		</div>
	</div>
</div>