<style>
	.combobox {width: 100%;}
	.combobox .table {position: relative;}
	.combobox .table tbody {position: absolute; z-index: 9999999; overflow: auto; width: 100%; height: 185px; border: 1px solid #d0d0d0;}
	.combobox .table tbody tr {display: inline-table; width: 100%;}
	.combobox .table td {padding: 7px 5px !important; text-align: left !important; width: 1%;}
</style>

<input id="combobox" class="form-control" ng-model="filtro" ng-keydown="filterKeyDown()" ng-keypress="filterKeyPress()" />

<div class="combobox" ng-show="isOpened">
	<table class="table bordered highlight">
		<tbody>
			<tr ng-repeat="linha in linhas | filter: filtro | limitTo: 30" data-irow="{{$index}}" ng-click="selectLine(linha)" data-id="{{linha.id}}">
				<td class="cell-combo" data-value="{{linha[id]}}" data-inner="{{linha[coluna]}}" data-name-combo="{{name_combo}}">{{linha[coluna]}}</td>
			</tr>
		</tbody>
	</table>
</div>