<style>
	#td div.row:first-child {
		margin-top: 4px;
	}
	
	#td div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}
</style>

<div id="td">
	<div class="row">
		<div class="col s3">
			<label for="id">ID</label>
		</div>
		<div class="col s9">
			<input id="id" class="form-control" ng-model="td.id" data-template="td" type="text" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="id">Tela</label>
		</div>
		<div class="col s9">
			<input id="tela" class="form-control" ng-model="td.tela" data-template="td" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="id">Pai</label>
		</div>
		<div class="col s9">
			<input id="pai" class="form-control" ng-model="td.pai" data-template="td" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="ordem">Ordem</label>
		</div>
		<div class="col s9">
			<input id="ordem" class="form-control" ng-model="td.ordem" data-template="td" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tag">Tag</label>
		</div>
		<div class="col s9">
			<input id="tag" class="form-control" ng-model="td.tag" data-template="td" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="texto">Texto</label>
		</div>
		<div class="col s9">
			<input id="texto" class="form-control" ng-model="td.texto" data-template="td" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<label>
				Intervalo
				<input ng-model="td.intervalo" type="checkbox" data-template="td" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>
	</div>

	<div class="row">
		<div class="col s4">
			<label for="alinhamento">Alinhamento</label>
		</div>
		<div class="col s8">
			<select id="alinhamento" class="form-control" data-template="td" ng-model="td.alinhamento" type="text">
				<option value="left"> Left </option>
				<option value="center"> Center </option>
				<option value="right"> Right </option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="formato">Formato</label>
		</div>
		<div class="col s9">
			<select id="formato" class="form-control" data-template="td" ng-model="td.formato">
				<option value="DD_MM_YYYY"> DD_MM_YYYY </option>
				<option value="DD-MM-YYYY"> DD-MM-YYYY </option>
				<option value="YYYY_MM_DD"> YYYY_MM_DD </option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="largura">Largura</label>
		</div>
		<div class="col s9">
			<input id="largura" class="form-control" ng-model="td.largura" data-template="td" type="text" required>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12"> <label> <strong> LE </strong> </label> </div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='le_da_tabela' data-template="td" data-id='td_le_da_tabela' data-combo-id-elemento="td_le_do_campo"
				data-combo-grava-campo="id" data-combo-tabela="tabela" data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='le_do_campo' data-template="td" data-id='td_le_do_campo' data-combo-pai="td_le_da_tabela" data-combo-atributo="tabela_id"
				data-combo-tabela="campo" data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12"> <label> <strong> Grava </strong> </label> </div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='grava_na_tabela' data-template="td" data-id='td_grava_na_tabela' data-combo-id-elemento="td_grava_no_campo"
				data-combo-grava-campo="id" data-combo-tabela="tabela" data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='grava_no_campo' data-template="td" data-id='td_grava_no_campo' data-combo-pai="td_grava_na_tabela"
				data-combo-atributo="tabela_id" data-combo-tabela="campo" data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<!-- Elementos dentro da célula -->
	<div class="row especializada">
		<div class="col s12"> <label> <strong> Elemento dentro da Célula </strong> </label> </div>
	</div>

	<div class="row margin-top">
		<div class="col s4" style="line-height: 22px;">
			<label>
				Combo
				<input ng-model="td.combo_ativo" data-template="td" type="checkbox" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>

		<div class="col s4 center-align">
			<label>
				Input 
				<input ng-model="td.input_ativo" data-template="td" type="checkbox" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>

		<div class="col s4 right-align">
			<label>
				Check 
				<input ng-model="td.coluna_check" data-template="td" type="checkbox" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>

		<div class="row">
			<div class="col s12">
				<label>
					Campo Obrigatório
					<input ng-model="td.obrigatorio" type="checkbox" data-template="td" style="margin-left: 15px; position: relative; top: 3px;">
				</label>
			</div>
		</div>

	</div>

	<!-- INPUT -->

	<div class="row margin-top" ng-show="td.input_ativo">
		<div class="row">
			<div class="col s3 line">
				<label for="cell_tipo">Tipo</label>
			</div>
			<div class="col s9">
				<select id="cell_tipo" class="form-control" data-template="td" ng-model="td.cell_tipo">
					<option value="text"> Caixa de Texto </option>
					<option value="date"> Data </option>
				</select>
			</div>
		</div>
	</div>

	<!-- COMBOBOX -->

	<div class="row margin-top" ng-show="td.combo_ativo">
		<div class="row">
			<div class="col s3 line">
				<label for="combo_tabela">Tabela</label>
			</div>
			<div class="col s9">
				<select-box data-name-combo='combo_tabela' data-template="td" data-id='td_combo_tabela' data-combo-id-elemento="td_combo_campo"
					data-combo-grava-campo="id" data-combo-tabela="tabela" data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
			</div>
		</div>

		<div class="row">
			<div class="col s3 line">
				<label for="combo_campo">Campo</label>
			</div>
			<div class="col s9">
				<select-box data-name-combo='combo_campo' data-template="td" data-id='td_combo_campo' data-combo-pai="td_combo_tabela" data-combo-atributo="tabela_id"
					data-combo-tabela="campo" data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
			</div>
		</div>

		<div class="row">
			<div class="col s3 line">
				<label for="combo_grava_value">Value</label>
			</div>
			<div class="col s9">
				<input id="combo_grava_campo" class="form-control" data-template="td" ng-model="td.combo_grava_campo" type="text">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<a ng-click="salvarTD()" class="waves-effect waves-light blue-grey darken-4 btn right">
				<i class="material-icons">done</i></a>
		</div>
	</div>
</div>