<style>
	#textarea div.row:first-child {
		margin-top: 4px;
	}
	
	#textarea div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}

	#textarea .col > label {
		width: 100%;
	}

	#textarea .col > label > div {
		width: 90%;
		float: left;
	}
</style>

<div id="textarea">
	
	<div class="row">
		<div class="col s3">
			<label for="id">ID</label>
		</div>
		<div class="col s9">
			<input id="id" class="form-control" ng-model="textarea.id" data-template="textarea" type="text" disabled>
		</div>
	</div>
	
	<div class="row">
		<div class="col s3">
			<label for="tela">Tela</label>
		</div>
		<div class="col s9">
			<input id="tela" class="form-control" ng-model="textarea.tela" data-template="textarea" type="text" required>
		</div>
	</div>
	
	<div class="row">
		<div class="col s3">
			<label for="id">Pai</label>
		</div>
		<div class="col s9">
			<input id="pai" class="form-control" ng-model="textarea.pai" data-template="textarea" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="ordem">Ordem</label>
		</div>
		<div class="col s9">
			<input id="ordem" class="form-control" ng-model="textarea.ordem" data-template="textarea" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tag">Tag</label>
		</div>
		<div class="col s9">
			<input id="tag" class="form-control" ng-model="textarea.tag" type="tag" data-template="textarea" required>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<label>
				<div> Campo Obrigatório </div>
				<input ng-model="textarea.obrigatorio" type="checkbox" data-template="textarea" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>

		<div class="col s12">
			<label>
				<div> Campo Bloqueado </div>
				<input ng-model="textarea.bloqueado" type="checkbox" data-template="textarea" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12"> <label> <strong> LE </strong> </label> </div>
	</div>


	<div class="row">
		<div class="col s3">
			<label for="tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-combo-Alias="true" data-name-combo='le_da_tabela' data-id='textarea_le_da_tabela' data-template="textarea" data-combo-id-elemento="textarea_le_do_campo" data-combo-grava-campo="id" data-combo-tabela="tabela"
				data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='le_do_campo' data-id='textarea_le_do_campo' data-template="textarea" data-combo-pai="textarea_le_da_tabela" data-combo-atributo="tabela_id" data-combo-tabela="campo"
				data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12"> <label> <strong> Grava </strong> </label> </div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='grava_na_tabela' data-id='textarea_grava_na_tabela' data-template="textarea" data-combo-id-elemento="textarea_grava_no_campo" data-combo-grava-campo="id" data-combo-tabela="tabela"
				data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='grava_no_campo' data-id='textarea_grava_no_campo' data-template="textarea" data-combo-pai="textarea_grava_na_tabela" data-combo-atributo="tabela_id" data-combo-tabela="campo"
				data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<a ng-click="salvarTextarea()" class="waves-effect waves-light blue-grey darken-4 btn right"><i class="material-icons">done</i></a>
		</div>
	</div>
</div>