<style>
	#label div.row:first-child {
		margin-top: 4px;
	}
	
	#label div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}
</style>

<div id="label">

	<div class="row">
		<div class="col s3">
			<label for="id">ID</label>
		</div>
		<div class="col s9">
			<input id="id" class="form-control" ng-model="label.id" data-template="label" type="text" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tela">Tela</label>
		</div>
		<div class="col s9">
			<input id="tela" class="form-control" ng-model="label.tela" data-template="label" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="id">Pai</label>
		</div>
		<div class="col s9">
			<input id="pai" class="form-control" ng-model="label.pai" data-template="label" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tag">Tag</label>
		</div>
		<div class="col s9">
			<input id="tag" class="form-control" ng-model="label.tag" data-template="label" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="ordem">Ordem</label>
		</div>
		<div class="col s9">
			<input id="ordem" class="form-control" ng-model="label.ordem" data-template="label" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="texto">Texto</label>
		</div>
		<div class="col s9">
			<input id="texto" class="form-control" ng-model="label.texto" data-template="label" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="alinhamento">Alinhar</label>
		</div>
		<div class="col s9">
			<select id="alinhamento" class="form-control" ng-model="label.alinhamento" data-template="label" type="text" required>
				<option value=""> </option>
				<option value="center"> Centro </option>
				<option value="right"> Direita </option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="display">Display</label>
		</div>
		<div class="col s9">
			<input id="display" class="form-control" ng-model="label.display" data-template="label" type="text">
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="padding">Padding</label>
		</div>
		<div class="col s9">
			<input id="padding" class="form-control" ng-model="label.padding" data-template="label" type="text" title="TOP - RIGHT - BOTTOM - LEFT">
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="margin">Margin</label>
		</div>
		<div class="col s9">
			<input id="margin" class="form-control" ng-model="label.margin" data-template="label" type="text" title="TOP - RIGHT - BOTTOM - LEFT">
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="fundo">Fundo</label>
		</div>
		<div class="col s9">
			<input id="fundo" class="form-control" ng-model="label.fundo" data-template="label" type="text">
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12"> <label> <strong> LE </strong> </label> </div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='le_da_tabela' data-template="label" data-id='label_le_da_tabela' data-combo-id-elemento="label_le_do_campo"
				data-combo-grava-campo="id" data-combo-tabela="tabela" data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='le_do_campo' data-template="label" data-id='label_le_do_campo' data-combo-pai="label_le_da_tabela" data-combo-atributo="tabela_id"
				data-combo-tabela="campo" data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12">
			<label> Fonte </label>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="size">Tamanho</label>
		</div>
		<div class="col s9">
			<input id="size" class="form-control" data-template="label" ng-model="label.size" type="text">
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="familia">Família</label>
		</div>
		<div class="col s9">
			<select id="familia" class="form-control" data-template="label" ng-model="label.familia">
				<option value="">  </option>
				<option value="Roboto"> Roboto </option>
				<option value="helvetica"> Helvetica </option>
				<option value="monospace"> Monospace </option>
				<option value="sans-serif"> Sans-Serif </option>
				<option value="arial"> Arial </option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="cor">Cor</label>
		</div>
		<div class="col s9">
			<input id="cor" class="form-control" data-template="label" ng-model="label.cor" type="text">
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12">
			<label> Borda </label>
		</div>
	</div>

	<div class="row">
		<div class="col s6 line-height-none">
			<label>
				Top
				<input ng-model="label.borderTop" type="checkbox" data-template="label" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>

		<div class="col s6 right-align">
			<label>
				Bottom
				<input ng-model="label.borderBottom" type="checkbox" data-template="label" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>
	</div>

	<div class="row">
		<div class="col s6 line-height-none">
			<label>
				Left
				<input ng-model="label.borderLeft" type="checkbox" data-template="label" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>

		<div class="col s6 right-align">
			<label>
				Right
				<input ng-model="label.borderRight" type="checkbox" data-template="label" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>
	</div>

	<div class="row margin-top">
		<div class="col s3">
			<label for="borda_size">Tamanho</label>
		</div>
		<div class="col s9">
			<input id="borda_size" class="form-control" data-template="label" ng-model="label.borda_size" type="text">
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="borda_tipo">Tipo</label>
		</div>
		<div class="col s9">
			<select id="borda_tipo" class="form-control" data-template="label" ng-model="label.borda_tipo">
				<option value="">  </option>
				<option value="Dotted"> Dotted </option>
				<option value="groove"> Groove </option>
				<option value="solid"> Solid </option>
				<option value="ridge"> Ridge </option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="borda_cor">Cor</label>
		</div>
		<div class="col s9">
			<input id="borda_cor" class="form-control" data-template="label" ng-model="label.borda_cor" type="text">
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			<label for="borda_arredondada">Borda Arredondada</label>
		</div>
		<div class="col s6">
			<input id="borda_arredondada" class="form-control" data-template="label" ng-model="label.borda_arredondada" type="text">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<a ng-click="salvarLabel()" class="waves-effect waves-light blue-grey darken-4 btn right"><i ng-click="salvarElm()" class="material-icons">done</i></a>
		</div>
	</div>
</div>