<style>
	#input div.row:first-child {
		margin-top: 4px;
	}
	
	#input div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}
</style>

<div id="input">
	
	<div class="row">
		<div class="col s3">
			<label for="id">ID</label>
		</div>
		<div class="col s9">
			<input id="id" class="form-control" ng-model="input.id" data-template="input" type="text" disabled>
		</div>
	</div>
	
	<div class="row">
		<div class="col s3">
			<label for="tela">Tela</label>
		</div>
		<div class="col s9">
			<input id="tela" class="form-control" ng-model="input.tela" data-template="input" type="text" required>
		</div>
	</div>
	
	<div class="row">
		<div class="col s3">
			<label for="id">Pai</label>
		</div>
		<div class="col s9">
			<input id="pai" class="form-control" ng-model="input.pai" data-template="input" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="ordem">Ordem</label>
		</div>
		<div class="col s9">
			<input id="ordem" class="form-control" ng-model="input.ordem" data-template="input" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tag">Tag</label>
		</div>
		<div class="col s9">
			<input id="tag" class="form-control" ng-model="input.tag" type="tag" data-template="input" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tipo">Tipo</label>
		</div>
		<div class="col s9">
			<select id="tipo" class="form-control" ng-model="input.tipo" data-template="input" type="text" required>
				<option value="text"> Caixa de Texto </option>
				<option value="date"> Data </option>
				<option value="checkbox"> Checkbox </option>
				<option value="file"> File </option>
			</select> 
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<label>
				Campo Obrigatório
				<input ng-model="input.obrigatorio" type="checkbox" data-template="input" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>

		<div class="col s12">
			<label>
				Campo Bloqueado
				<input ng-model="input.bloqueado" type="checkbox" data-template="input" style="margin-left: 15px; position: relative; top: 3px;">
			</label>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12"> <label> <strong> LE </strong> </label> </div>
	</div>


	<div class="row">
		<div class="col s3">
			<label for="tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-combo-Alias="true" data-name-combo='le_da_tabela' data-id='input_le_da_tabela' data-template="input" data-combo-id-elemento="input_le_do_campo" data-combo-grava-campo="id" data-combo-tabela="tabela"
				data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='le_do_campo' data-id='input_le_do_campo' data-template="input" data-combo-pai="input_le_da_tabela" data-combo-atributo="tabela_id" data-combo-tabela="campo"
				data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<div class="row especializada">
		<div class="col s12"> <label> <strong> Grava </strong> </label> </div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="tabela">Tabela</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='grava_na_tabela' data-id='input_grava_na_tabela' data-template="input" data-combo-id-elemento="input_grava_no_campo" data-combo-grava-campo="id" data-combo-tabela="tabela"
				data-combo-campo="tabela" data-combo-atualizar="1"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="campo">Campo</label>
		</div>
		<div class="col s9">
			<select-box data-name-combo='grava_no_campo' data-id='input_grava_no_campo' data-template="input" data-combo-pai="input_grava_na_tabela" data-combo-atributo="tabela_id" data-combo-tabela="campo"
				data-combo-campo="campo" data-combo-grava-campo="id"> </select-box>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<a ng-click="salvarInput()" class="waves-effect waves-light blue-grey darken-4 btn right"><i class="material-icons">done</i></a>
		</div>
	</div>
</div>