<style>
	#settings #linha div.row:first-child {
		margin-top: 4px;
	}

	#settings #linha div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}

	#settings #linha .btn-propriedades {
		min-height: 30px;
		line-height: 30px;
		float: right;
	}

	#settings #linha .icon-propriedades {
		font-size: 1rem;
	}

	#settings #linha .filtro-propriedades {
		width: 40% !important;
		background: #FFF !important;
		color: #444 !important;
		margin-left: 5px;
	}

	#lblCheckedCliente {
		margin-left: 10px;
		position: relative;
		top: 2px;
	}
</style>

<div id="linha">

	<div class="row">
		<div class="col s12">
			<label> ID </label>
			<input class="form-control filtro-propriedades margin-bottom" ng-model="search.id" placeholder="Pesquisar Elemento" />

			<a ng-click="requeryElementos()" title="Carregar todos Elementos da Tela" class="waves-effect waves-light blue darken-3 btn right btn-propriedades">
				<i class="fa fa-refresh icon-propriedades"></i>
			</a>

			<a ng-click="duplicarTela()" title="Duplicar a Tela" class="waves-effect waves-light orange darken-3 btn right btn-propriedades">
				<i class="fa fa-copy icon-propriedades"></i>
			</a>

			<a ng-click="deletarElemento()" title="Deletar Elemento Selecionado" class="waves-effect waves-light red darken-3 btn right btn-propriedades">
				<i class="fa fa-trash icon-propriedades"></i>
			</a>

			<input type="checkbox" ng-click="requeryElementosCliente()" ng-model="customizador.isCliente" class="filled-in new_check"
			 id="checkedCliente" title="Deseja trabalhar no Cliente??" />
			<label id="lblCheckedCliente" for="checkedCliente" title="Deseja trabalhar no Cliente??"> Cliente? </label>
		</div>
	</div>

	<div class="row">

		<div class="col s12 no-padding">

			<table class="table-customizador">

				<thead>
					<tr>
						<th> </th>
						<th> ID </th>
						<th> Nome </th>
						<th> Tag </th>
						<th> Tipo </th>
						<th> Texto </th>
						<th> Descrição </th>
						<th> Menu ID </th>
						<th> Pai </th>
						<th> Ordem </th>
						<th onclick="g$.criaTabela()" style="color:#ffef00;cursor:pointer;"> Le_da_Tabela </th>
						<th onclick="g$.criaColuna()" style="color:#ffef00;cursor:pointer;"> Le_do_Campo </th>
						<th> Grava_da_Tabela </th>
						<th> Grava_no_Campo </th>
						<th> Link_da_Tabela </th>
						<th> Link_do_Campo </th>
						<th> Link Campo </th>
						<th> Consulta_ID </th>
						<th> Desktop </th>
						<th> Tablet </th>
						<th> Celular </th>
						<th> Limite </th>
						<th> Largura </th>
						<th> Tamanho </th>
						<th> Máscara </th>
						<th> Combo_Tabela </th>
						<th> Combo_Campo </th>
						<th> Combo_Query </th>
						<th> Campo </th>
						<th> Combo_Value </th>
						<th> Combo Filtro </th>
						<th> Combo_Atualizar </th>
						<th> Formato </th>
						<th> Placeholder </th>
						<th> Display </th>
						<th> Size </th>
						<th> Familia </th>
						<th> Padding </th>
						<th> Margin </th>
						<th> Fundo </th>
						<th> Cor </th>
						<th> Max Length </th>
						<th> Borda Tamanho </th>
						<th> Borda Tipo </th>
						<th> Borda Cor </th>
						<th> Borda Arredondada </th>
						<th> Abrir no Sistema </th>
						<th> Download </th>
						<th> Obrigatorio </th>
						<th> Combo Ativo </th>
						<th> Input Ativo </th>
						<th> Coluna Check </th>
						<th> Cell Tipo </th>
						<th> Alinhamento </th>
						<th> Intervalo </th>
						<th> Border Top </th>
						<th> Border Bottom </th>
						<th> Border Left </th>
						<th> Border Right </th>
						<th> Bloqueado </th>
						<th> Classe </th>
						<th> Flutuar </th>
						<th> Modal </th>
						<th> Evento Bloco </th>
						<th> Evento Check </th>
						<th> Evento Tabela </th>
						<th> tbl_PageLength </th>
						<th> Tbl_Paginacao </th>
						<th> Tbl_Pesquisar </th>
						<th> Tbl_MultiSelect </th>
						<th> Tbl_Info </th>
						<th> Tbl_Filtro </th>
						<th> Tbl_Imprimir </th>
						<th> Tbl_PDF </th>
						<th> Tbl_Excel </th>
						<th> Tbl_Copiar </th>
						<th> Tbl_Delete </th>
						<th> Tbl_TreeView </th>
						<th> Tbl_Resultados </th>
						<th> Tbl_NovaLinha </th>
						<th> Tbl_SelecionarLinha </th>
						<th> Tbl_Modal </th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="propriedade in propriedadesElementos | filter:search:strict | limitTo: 20" data-irow="{{propriedade.id}}">
						<td class="center-align">
							<input type="checkbox" onclick='selecionarLinhaProp()' data-prop_id="{{propriedade.id}}" />
						</td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0'> {{propriedade.id}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='nome' data-input_ativo="true">
							{{propriedade.nome}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='tag' data-combo_dys="true" data-combo_nome="tag">
							{{propriedade.tag}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='tipo' data-combo_dys="true" data-combo_nome="tipo">
							{{propriedade.tipo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='texto' data-input_ativo="true">
							{{propriedade.texto}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='descricao' data-input_ativo="true">
							{{propriedade.descricao}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0'> {{propriedade.menu_id}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='pai' data-input_ativo="true"> {{propriedade.pai}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='ordem' data-input_ativo="true">
							{{propriedade.ordem}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='le_da_tabela' data-combo_ativo="true"
						 data-query="SELECT id, tabela FROM tabela" data-coluna="tabela"> {{propriedade.le_da_tabela}} </td>

						<td id="le_do_campo" ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='le_do_campo' data-combo_ativo_atualiazar="true"
						 data-query="select c.id, c.campo from node.campo c LEFT JOIN node.tabela t ON c.tabela_id = t.id where t.tabela = »le_da_tabela»;"
						 data-coluna="campo"> {{propriedade.le_do_campo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='grava_na_tabela' data-combo_ativo="true"
						 data-query="SELECT id, tabela FROM tabela" data-coluna="tabela"> {{propriedade.grava_na_tabela}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='grava_no_campo' data-combo_ativo_atualiazar="true"
						 data-query="select c.id, c.campo from node.campo c LEFT JOIN node.tabela t ON c.tabela_id = t.id where t.tabela = »grava_na_tabela»;"
						 data-coluna="campo"> {{propriedade.grava_no_campo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='link_tabela' data-combo_ativo="true"
						 data-query="SELECT id, tabela FROM tabela" data-coluna="tabela"> {{propriedade.link_tabela}} </td>

						<td id="le_do_campo" ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='link_campo' data-combo_ativo_atualiazar="true"
						 data-query="select c.id, c.campo from node.campo c LEFT JOIN node.tabela t ON c.tabela_id = t.id where t.tabela = »link_tabela»;"
						 data-coluna="campo"> {{propriedade.link_campo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='link_campo' data-input_ativo="true">
							{{propriedade.link_campo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='consulta_id' data-combo_ativo="true"
						 data-query="SELECT id, consulta FROM consulta" data-coluna="consulta"> {{propriedade.consulta_id}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='desktop' data-input_ativo="true">
							{{propriedade.desktop}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='tablet' data-input_ativo="true">
							{{propriedade.tablet}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='celular' data-input_ativo="true">
							{{propriedade.celular}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='limite' data-input_ativo="true">
							{{propriedade.limite}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='largura' data-input_ativo="true">
							{{propriedade.largura}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='tamanho' data-input_ativo="true">
							{{propriedade.tamanho}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='mask' data-input_ativo="true">
							{{propriedade.mask}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='combo_tabela' data-combo_ativo="true"
						 data-query="SELECT id, tabela FROM node.tabela" data-coluna="tabela"> {{propriedade.combo_tabela}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='combo_campo' data-combo_ativo_atualiazar="true"
						 data-query="select c.id, c.campo from node.campo c LEFT JOIN node.tabela t ON c.tabela_id = t.id where t.tabela = »combo_tabela»;"
						 data-coluna="campo"> {{propriedade.combo_campo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='combo_query' data-input_ativo="true">
							{{propriedade.combo_query}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='combo_campo' data-input_ativo="true">
							{{propriedade.combo_campo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='combo_grava_campo' data-input_ativo="true">
							{{propriedade.combo_grava_campo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='combo_filtro' data-input_ativo="true">
							{{propriedade.combo_filtro}} </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='combo_atualizar'>
							<input type="checkbox" ng-checked="propriedade.combo_atualizar" onclick="alterarCheckProp()" /> </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='formato' data-combo_dys="true"
						 data-combo_nome="formato">
							{{propriedade.formato}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='placeholder' data-input_ativo="true">
							{{propriedade.placeholder}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='display' data-combo_dys="true"
						 data-combo_nome="display">
							{{propriedade.display}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='size' data-input_ativo="true">
							{{propriedade.size}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='familia' data-combo_dys="true"
						 data-combo_nome="familia">
							{{propriedade.familia}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='padding' data-input_ativo="true">
							{{propriedade.padding}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='margin' data-input_ativo="true">
							{{propriedade.margin}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='fundo' data-tipo="color" data-input_ativo="true">
							{{propriedade.fundo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='cor' data-tipo="color" data-input_ativo="true">
							{{propriedade.cor}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='max_length' data-tipo="max_length"
						 data-input_ativo="true">
							{{propriedade.max_length}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='borda_size' data-input_ativo="true">
							{{propriedade.borda_size}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='borda_tipo' data-combo_dys="true"
						 data-combo_nome="borda_tipo">
							{{propriedade.borda_tipo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='borda_cor' data-tipo="color" data-input_ativo="true">
							{{propriedade.borda_cor}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='borda_arredondada' data-input_ativo="true">
							{{propriedade.borda_arredondada}} </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='abrir_no_sistema'>
							<input type="checkbox" ng-checked="propriedade.abrir_no_sistema" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='download'>
							<input type="checkbox" ng-checked="propriedade.download" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='obrigatorio'>
							<input type="checkbox" ng-checked="propriedade.obrigatorio" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='combo_ativo'>
							<input type="checkbox" ng-checked="propriedade.combo_ativo" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='input_ativo'>
							<input type="checkbox" ng-checked="propriedade.input_ativo" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='coluna_check'>
							<input type="checkbox" ng-checked="propriedade.coluna_check" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='cell_tipo' data-combo_dys="true"
						 data-combo_nome="tipo">
							{{propriedade.cell_tipo}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='alinhamento' data-input_ativo="true">
							{{propriedade.alinhamento}} </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='intervalo'>
							<input type="checkbox" ng-checked="propriedade.intervalo" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='borderTop'>
							<input type="checkbox" ng-checked="propriedade.borderTop" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='borderBottom'>
							<input type="checkbox" ng-checked="propriedade.borderBottom" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='borderLeft'>
							<input type="checkbox" ng-checked="propriedade.borderLeft" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='borderRight'>
							<input type="checkbox" ng-checked="propriedade.borderRight" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='bloqueado'>
							<input type="checkbox" ng-checked="propriedade.bloqueado" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='classe' data-input_ativo="true">
							{{propriedade.classe}} </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='flutuar' data-input_ativo="true">
							{{propriedade.flutuar}} </td>

						<td ng-click="selecionarCelulaProp()" title="Nome Modal | ID Modal(Sem Espaço) | ID Tela" onkeydown="moveTableProp()" tabindex='0'
						 data-nome='modal' data-input_ativo="true">
							{{propriedade.modal}} </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='evento_bloco'>
							<input type="checkbox" ng-checked="propriedade.evento_bloco" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='evento_check'>
							<input type="checkbox" ng-checked="propriedade.evento_check" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='evento_tabela'>
							<input type="checkbox" ng-checked="propriedade.evento_tabela" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='tbl_pageLength' data-combo_dys="true"
						 data-combo_nome="tbl_pageLength">
							{{propriedade.tbl_pageLength}} </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_paginate'>
							<input type="checkbox" ng-checked="propriedade.tabela_paginate" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_pesquisar'>
							<input type="checkbox" ng-checked="propriedade.tabela_pesquisar" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_multiselect'>
							<input type="checkbox" ng-checked="propriedade.tabela_multiselect" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_info'>
							<input type="checkbox" ng-checked="propriedade.tabela_info" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_botao_filtro'>
							<input type="checkbox" ng-checked="propriedade.tabela_botao_filtro" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_botao_imprimir'>
							<input type="checkbox" ng-checked="propriedade.tabela_botao_imprimir" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_botao_pdf'>
							<input type="checkbox" ng-checked="propriedade.tabela_botao_pdf" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_botao_excel'>
							<input type="checkbox" ng-checked="propriedade.tabela_botao_excel" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tabela_botao_copiar'>
							<input type="checkbox" ng-checked="propriedade.tabela_botao_copiar" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tbl_delete'>
							<input type="checkbox" ng-checked="propriedade.tbl_delete" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tbl_treeview'>
							<input type="checkbox" ng-checked="propriedade.tbl_treeview" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tbl_resultados_por_pagina'>
							<input type="checkbox" ng-checked="propriedade.tbl_resultados_por_pagina" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tbl_linhanova'>
							<input type="checkbox" ng-checked="propriedade.tbl_linhanova" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" class="center-align" onkeydown="moveTableProp()" tabindex='0' data-nome='tbl_selecionarlinha'>
							<input type="checkbox" ng-checked="propriedade.tbl_selecionarlinha" onclick="alterarCheckProp()"> </td>

						<td ng-click="selecionarCelulaProp()" onkeydown="moveTableProp()" tabindex='0' data-nome='tbl_modal' data-input_ativo="true">
							{{propriedade.tbl_modal}} </td>
					</tr>
				</tbody>

			</table>

		</div>

	</div>

</div>