<style>
    
    #acoes div.row {
        margin-bottom: 12px;
    }
    
    #acoes .col {
        padding: 0px;
    }

    #acoes .especializada .col label {
        color: #fbfc6d !important;
    }
    
    #acoes .col table {
        position: relative;
        width: 100%;
        display: block;
        background: transparent !important;
    }
    
    #acoes .col table tbody {
        /*position: absolute;*/
        z-index: 9999999;
        overflow: auto;
        background: #FFF;
    }

    #acoes .col table tbody tr {
        background: #222d32;
        color: #FFF;
    }

    #acoes .col table tbody > tr:nth-child(odd) {
        /*background: #323e45;*/
    }
    
    #acoes .col table th {
        background: #323e45;
        color: #FFF;
    }
    
    #acoes .col table td,
    #acoes .col table th {
        padding: 0px 5px !important;
        border: 1px solid #535759;
    }
    
    #acoes table i {
        cursor: pointer;
        line-height: inherit;
        font-size: 21px;
    }
    
    #acoes #table-acoes {
        height: 158px;
    }
    
    #acoes #table-acoes tr td:first-child label {
        position: relative;
        top: 4px;
        left: 4px;
    }
    
    #acoes #table-acoes tr td:first-child {
        width: 30px;
        text-align: center;
    }
    
    #acoes #table-acoes tr th:nth-child(2),
    #acoes #table-acoes tr td:nth-child(2) {
        width: 264px;
        word-break: break-all;
    }

    body.expand #acoes #table-acoes {
        padding: 0px 10px;
    }

    body.expand #acoes #table-acoes tr th:nth-child(2),
    body.expand #acoes #table-acoes tr td:nth-child(2) {
        width: 100%;
    }
    
    #acoes #table-acoes tr th:nth-child(3),
    #acoes #table-acoes tr td:nth-child(3) {
        width: 33px;
    }
</style>

<div id="acoes">

    <div class="row especializada">
        <div class="col s12">
            <label> Funções para o Elemento {{elemento.nome}} </label>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table id="table-acoes" class="bordered responsive-table striped">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Função  </th>
                        <th> Evento  </th>
                        <th> Ordem  </th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="acao in acoes" data-id="{{filtro.id}}" data-class="table">
                        <td data-index-row={{$index}}>
                            <div>{{acao.id}}</div>
                        </td>
                        <td data-index-row={{$index}} ng-click="addCampoAcoes('funcao')" data-alter="true">
                            <combo-box id="{{'funcao-' + $index}}" data-combo-select="retDados" data-combo-tabela="funcao"
                                data-combo-campo="funcao" style="display: none;">
                            </combo-box>
                            <div> {{acao.funcao}} </div>
                        </td>
                        <td data-index-row={{$index}} ng-click="addCampoAcoes('evento')" data-alter="true">
                            <combo-box id="{{'evento-' + $index}}" data-combo-select="retDados" data-combo-tabela="evento"
                                data-combo-campo="evento" style="display: none;">
                            </combo-box>
                            <div> {{acao.evento}} </div>
                        </td>
                        <td data-index-row={{$index}}>
                            <input class="form-control" type="text" ng-model="acao.ordem" ng-keypress="salvarElemento(acao)" />
                        </td>
                        <td data-index-row={{$index}}> <i ng-click="deleteAcao(acao)" class="material-icons"> delete </i> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>