<style>
	#botao div.row:first-child {
		margin-top: 4px;
	}
	
	#botao div.row .btn {
		padding: 0px 10px;
		margin: 4px 0px;
		margin-right: 4px;
	}
</style>

<div id="botao">

	<div class="row">
		<div class="col s3">
			<label for="id">ID</label>
		</div>
		<div class="col s9">
			<input id="id" class="form-control" ng-model="botao.id" data-template="botao" type="text" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="id">Tela</label>
		</div>
		<div class="col s9">
			<input id="tela" class="form-control" ng-model="botao.tela" data-template="botao" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="id">Pai</label>
		</div>
		<div class="col s9">
			<input id="pai" class="form-control" ng-model="botao.pai" data-template="botao" type="text" required>
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="ordem">Ordem</label>
		</div>
		<div class="col s9">
			<input id="ordem" class="form-control" ng-model="botao.ordem" type="text" required>
		</div>
	</div>
	
	<div class="row">
		<div class="col s3">
			<label for="texto">Texto</label>
		</div>
		<div class="col s9">
			<input id="texto" class="form-control" data-template="botao" ng-model="botao.texto" type="text">
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="display">Display</label>
		</div>
		<div class="col s9">
			<input id="display" class="form-control" data-template="botao" ng-model="botao.display" type="text" >
		</div>
	</div>
	
	<div class="row">
		<div class="col s3">
			<label for="largura">Largura</label>
		</div>
		<div class="col s9">
			<input id="largura" class="form-control" data-template="botao" ng-model="botao.largura" type="text" >
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="padding">Padding</label>
		</div>
		<div class="col s9">
			<input id="padding" class="form-control" data-template="botao" ng-model="botao.padding" type="text" title="TOP - RIGHT - BOTTOM - LEFT" >
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="margin">Margin</label>
		</div>
		<div class="col s9">
			<input id="margin" class="form-control" data-template="botao" ng-model="botao.margin" type="text" title="TOP - RIGHT - BOTTOM - LEFT" >
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="fundo">Fundo</label>
		</div>
		<div class="col s9">
			<input id="fundo" class="form-control" data-template="botao" ng-model="botao.fundo" type="text" >
		</div>
	</div>

	<div class="row especializada">
        <div class="col s12">
            <label> Fonte </label>
        </div>
    </div>

	<div class="row">
		<div class="col s3">
			<label for="size">Tamanho</label>
		</div>
		<div class="col s9">
			<input id="size" class="form-control" data-template="botao" ng-model="botao.size" type="text" >
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="familia">Família</label>
		</div>
		<div class="col s9">
			<input id="familia" class="form-control" data-template="botao" ng-model="botao.familia" type="text" >
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="cor">Cor</label>
		</div>
		<div class="col s9">
			<input id="cor" class="form-control" data-template="botao" ng-model="botao.cor" type="text" >
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="flutuar">Flutuar</label>
		</div>
		<div class="col s9">
			<input id="flutuar" class="form-control" data-template="botao" ng-model="botao.flutuar" type="text" >
		</div>
	</div>

	<div class="row">
		<div class="col s3">
			<label for="classe">Classe</label>
		</div>
		<div class="col s9">
			<input id="classe" class="form-control" data-template="botao" ng-model="botao.classe" type="text" >
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<a ng-click="salvarBotao()" class="waves-effect waves-light blue-grey darken-4 btn right">
				<i class="material-icons">done</i></a>
		</div>
	</div>
</div>